<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>在庫詳細</title>
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/stock_system.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header th:replace="utils/header::header_block(title='在庫詳細')"></header>
	<footer th:replace="utils/footer::footer_block(| |)"></footer>

	<div class="error-msg">
		<span th:if="${itemStockForm.errMsg}" th:text="${itemStockForm.errMsg}">エラーメッセージ</span>
	</div>
	
	<div class="block-detail">
		<form th:action="@{/stockUpdate}" method="post" th:object="${itemStockForm}" id="itemStockUpdate">
			<table>
				<tr>
					<th>在庫ID</th>
					<td>
						<input type="hidden" th:field="*{storageStockId}">
						<span th:text="*{storageStockId}"></span>
					</td>
				</tr>
				<tr>
					<th>商品ID</th>
					<td>
						<input type="hidden" th:field="*{itemId}">
						<span th:text="*{itemId}"></span>
					</td>
				</tr>
				<tr>
					<th>在庫数</th>
					<td>
						<input type="hidden" th:field="*{stockQuantity}">
						<span th:text="*{stockQuantity}"></span>
					</td>
				</tr>
				<!--ユーザー入力欄（済）-->
				<tr>
					<th>入庫数</th>
					<td><input type="text" th:field="*{receiveQuantity}"><br>
						<span style="color: red;" th:if="${#fields.hasErrors('receiveQuantity')}"
							th:errors="*{receiveQuantity}">haserror</span>
					</td>
				</tr>
				<tr>
					<th>出庫数</th>
					<td><input type="text" th:field="*{dispatchQuantity}"><br>
						<span style="color: red;" th:if="${#fields.hasErrors('dispatchQuantity')}"
							th:errors="*{dispatchQuantity}">haserror</span>
					</td>
				</tr>
				<tr>
					<th>保管場所</th>
					<td><input type="text" th:field="*{storageLocation}"><br>
						<span style="color: red;" th:if="${#fields.hasErrors('storageLocation')}"
							th:errors="*{storageLocation}">haserror</span>
					</td>
				</tr>
				<!--ユーザー入力欄-->
				<tr>
					<th>作成者</th>
					<td>
						<input type="hidden" th:field="*{createUser}">
						<span th:text="*{createUser}"></span>
					</td>
				</tr>
				<tr>
					<th>作成日時</th>
					<td>
						<input type="hidden" th:field="*{createDate}">
						<span th:text="*{createDate}"></span>
					</td>
				</tr>
				<tr>
					<th>更新者</th>
					<td>
						<input type="hidden" th:field="*{updateUser}">
						<span th:text="*{updateUser}"></span>
					</td>
				</tr>
				<tr>
					<th>更新日時</th>
					<td>
						<input type="hidden" th:field="*{updateDate}">
						<span th:text="*{updateDate}"></span>
					</td>
				</tr>
			</table><br>
		</form>
		<div class="btn-form">
			<input type="submit" name="insert" value="在庫更新" class="btn" form="itemStockUpdate">
		</div>
	</div>
	<!--戻るボタン-->
	<div class="btn-family">
		<button type="button" class="back-btn" onclick="location.href='/'">HOMEへ戻る</button>
		<!--旧バージョン戻るボタン-->
		<!--		<form method="get" th:action="@{/returnPageToItemList}">-->
		<!--			<input type="submit" name="insert" value="戻る" class="back-btn" />-->
		<!--		</form>-->
		
		<!--シンプル戻るボタン-->
		<button class="back-btn" onclick="history.back()">戻る</button>
	</div>
	<!-------------->
</body>

</html>