<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>freeks研修システム</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/stock_system.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
	<script th:src="@{/api/NoApiController.js}" defer></script>
	<script th:src="@{/api/csvExp.js}" defer></script>
</head>

<body>
	
	<header th:replace="utils/header::header_block(title='商品一覧')"></header>
	<footer th:replace="utils/footer::footer_block(| |)"></footer>
	
	<div class="error-msg">
		<span th:if="${itemListForm.errMsg}" th:text="${itemListForm.errMsg}" class="errmsg-span">エラーメッセージ</span>
	</div>
	<div class="system-msg">
		<span th:if="${itemListForm.sysMsg}" th:text="${itemListForm.sysMsg}">システムメッセージ</span>
	</div>

	<div th:unless="${itemListForm.errMsg}" class="block-list" id="itemListForCsv">
		<table>
			<tr>
				<th>商品ID</th>
				<th>商品名称</th>
				<th>区分</th>
				<th>メーカー</th>
				<th>JANコード</th>
				<th>購入単価</th>
				<th>販売単価</th>
				<th>保管場所</th>
				<th>入庫日</th>
				<th>在庫</th>
			</tr>
			<tr th:each="item : ${itemListForm.itemInfoFormList}">
				<td><a th:text="${item.itemId}" th:href="@{/itemDetail/{itemId}(itemId=${item.itemId})}"></a></td>
				<td th:text="${item.itemName}"></td>
				<td th:text="${item.itemKubun}"></td>
				<td th:text="${item.maker}"></td>
				<td th:text="${item.jancd}"></td>
				<td th:text="${item.purchaseUnitPrice} + 円"></td>
				<td th:text="${item.salesUnitPrice} + 円"></td>
				<td th:text="${item.storageLocation}"></td>
				<td th:text="${item.receiptDate}"></td>
				<td><a th:text="在庫詳細" th:href="@{/itemStock/{itemId}(itemId=${item.itemId})}"></a></td>
			</tr>
		</table>
		<br>
		<div class="btn-table">
			<div class="btn-form">
				<form th:action="@{/itemInsert}" method="get"><input type="submit" name="insert" value="商品情報登録"
						class="btn" /></form>
			</div>
			<div class="btn-form">
				<button class="btn" onclick="downloadCsv()" id="csvDwr" method="get">ダウンロード</button>
			</div>
		</div>
		<button type="button" class="back-btn" onclick="location.href='/'">HOMEへ戻る</button>
	</div>
</body>

</html>