<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>freeks研修システム</title>
	<link rel="stylesheet" href="css/common.css">
</head>

<head th:replace="utils/header::header_block(title='FirstWebSystem')"></head>
<footer th:replace="utils/footer::footer_block(| |)"></footer>

<body>
	<div class="btn-area-center">
		<form th:action="@{/firstWebSystem}" method="get">
			<button type="submit" class="menu-btn">FirstWebSystem</button>
		</form>
	</div>
	<div class="btn-area-center">
		<form th:action="@{/quizQuestion}" method="get">
			<button type="submit" class="menu-btn">クイズ課題</button>
		</form>
	</div>
	<div class="btn-area-center">
		<form th:action="@{/itemList}" method="get">
			<button type="submit" class="menu-btn">システム課題</button>
		</form>
	</div>
	<div class="btn-area-center">
		<form th:action="@{/items}" method="get">
			<button type="submit" class="menu-btn">ページング機能</button>
		</form>
	</div>

</body>

</html>